:root {
  --red: #e50914;
  --black: #141414;
  --white-grey: #aaa;
  --grey: #525551;
  --grey2: rgb(70, 69, 60);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  font-family: 'Arial', Times, serif;
  color: var(--white);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header nav a {
  text-decoration: none;
  color: var(--white-grey);
  margin-right: 24px;
  font-size: 20px;
}

header nav a:hover {
  color: var(--white);
}

/* Main Movie */

.main-movie {
  font-size: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url(../assets/images/Capa-Batman.jpg);

  height: 900px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 0 50px 30px;
}

.main-movie .description {
  margin-bottom: 40px;
  max-width: 900px;
}

.main-movie .title {
  font-size: 100px;
  max-width: 50%;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.button-info {
  /* margin-top: 15%; */
  background-color: var(--grey);
  border: none;
  color: var(--white);
  font-weight: bold;

  padding: 20px 40px;
  margin-right: 15px;
  font-size: 24px;
  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.button-info:hover {
  background-color: var(--grey2);
  /* color: var(--black); */
}

.button-info i {
  margin-right: 16px;
}

.button-play {
  background-color: var(--white);
  border: none;
  font-weight: bold;

  padding: 20px 40px;
  margin-right: 15px;
  font-size: 24px;
  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.button-play:hover {
  opacity: 0.5;
}

.button-play i {
  margin-right: 16px;
}

.buttons {
  margin-bottom: 100px;
}

.container {
  margin-left: 20px;
}

.main-movie .container {
  width: 70%;
}

.box-movie {
  height: 100%;
  width: 100%;
  display: block;
}

.carousel-movies {
  margin-top: 10px;
}

.logo {
  max-width: 8%;
  padding: 25px;
}

.img-red {
  background-color: black;
  width: 5%;
  border-radius: 100%;
}

.kind-of-movie {
  display: flex;
  align-items: center;
  font-size: 36px;
  gap: 24px;
}
